.name {
  color: #8292fe;
}
.sky {
  background: url(/public/Image/wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg)
    #8292fe;
  /* background-size: cover; */
  height: 20rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
}
.input {
  height: 2rem;
  width: 20rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
}
.sun {
  width: 3rem;
  height: 3rem;
  margin: 4rem;
}
.number {
  margin-left: 4rem;
  margin-top: -3rem;
  font-size: 6rem;
  color: #8292fe;
}
.container {
  padding: 50px;
  background-color: #fff;
}
.location {
  display: flex;
  padding-left: 3rem;
}
.place {
  color: #8292fe;
  font-size: 1.5rem;
  margin-top: -3rem;
}
.right {
  display: flex;
  flex-direction: row;
  color: #8292fe;
  font-size: 1.5rem;
  margin-top: -3rem;
}
.temperature-readings {
  display: flex;
}
.section {
  height: 15rem;
  width: 30rem;
  background-color: rgb(245, 242, 238);
  border-radius: 0.5rem;
  border: 1px solid grey;
  border-left: 1px solid grey;
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  margin-top: 2rem;
}
.icon {
  height: 2rem;
  width: 2rem;
}
.section-two {
  height: 5rem;
  width: 20rem;
  background-color: rgb(175, 155, 240);
  border-radius: 0.5rem;
  border: 1px solid rgb(175, 155, 240);
  margin-left: 4rem;
  margin-top: 5rem;
  color: white;
}
.upper {
  display: flex;
  flex-direction: row;
  gap: 6.5rem;
  padding-left: 1rem;
}
.lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 3rem;
  margin-top: -1.5rem;
}
.section-three {
  height: 11rem;
  width: 43rem;
  margin-left: 10rem;
  margin-top: 2rem;
  background-color: whitesmoke;
  border-radius: 1rem;
  border: 1px solid grey;
}
.skys {
  width: 2rem;
  height: 2rem;
}
.weather-condition {
  padding: 1rem 2rem;
}
.week-weather {
  display: flex;
}
.weather {
  border-left: 1px solid grey;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.week-weather :first-child {
  border-left: none;
}
