.sky {
  background: url(/public/Image/wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg)
    #8292fe;
  /* background-size: cover; */
  background-blend-mode: ;
  height: 20rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sun {
  width: 3rem;
  height: 3rem;
  margin: 4rem;
}
.number {
  margin: 4rem;
  font-size: 6rem;
  color: #8292fe;
}
